<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="这是一个自己做的小站，主要让存储自己的todo-list，markdown写作的文章，还有生辰，随机音乐等好玩的小功能。">
    <meta name="Keywords" content="个人站点，todo-list,markdown,生辰。">
    <title> 私人管家 | 首页 </title>
</head>

<body>
    <div class="header">这里是首页，但是还没做好</div>
    <div class="main"></div>
    <div class="footer"></div>
</body>

</html>