<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
</head>
<body>
    <div id="app">
        <app></app>
    </div>
    <textarea style="display:none" id="content" ><%= content %></textarea>
    <script>
        var title = '<%= title %>'
        var name = '<%= name %>'
        var date = <%= date.valueOf() %>
        var user_id = '<%= user_id %>'
        var paper_id = '<%= _id %>'
        var keywords = '<%= keywords.join(",") %>'
            keywords =  keywords ? keywords.split(",") : [] ;

    </script>
    <script src="/markdown/index.js"></script>
</body>
</html>
