<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> 私人管家 | 注册 </title>
</head>
<body>
  <div id="app">
    <app></app>
  </div>
  <script src="/js/account/register/index.js"></script>
</body>
</html>
